<div class="container py-3">
    <div class="d-flex justify-content-between gap-5">
        <div class="col">
            <img src="img/Hub_Logo_gradient_text.svg" alt="">
        </div>
        <div class="col">
            <p>
                Über uns <br />
                Nachhaltigkeit <br />
                Altgeräteentsorgung <br />
                Presse <br />
                Jobs <br />
                Freunde
            </p>
        </div>
        <div class="col">
            <p>Business</p>
            <ul>
                <li>Händler</li>
                <li>Dienstleister</li>
                <li>Shopanmeldung</li>
                <li>Affiliate Partner Programm</li>
                <li>Hardware Hub Partner Magazin</li>
            </ul>
        </div>
        <div class="col">
            <p>Folge uns</p>
        </div>
        <div class="col">
            <p>Kundenservice</p>
            <ul>
                <li>Hilfethemen</li>
            </ul>
            <div class="d-flex flex-wrap gap-2">
                <div><i class="fa-brands fa-cc-paypal fs-1"></i></div>
                <div><i class="fa-brands fa-cc-apple-pay fs-1"></i></div>
                <div><i class="fa-brands fa-cc-visa fs-1"></i></div>
                <div><i class="fa-brands fa-cc-amazon-pay fs-1"></i></div>
                <div><i class="fa-brands fa-google-pay fs-1"></i></div>
            </div>
        </div>
    </div>
</div>