<div class="container py-5">
    <div class="d-flex justify-content-between">
        <div>
            <img src="img/Hub_Logo_gradient_text.svg" alt="">
        </div>
        <div>
            <p>
                Über uns <br />
                Nachhaltigkeit <br />
                Altgeräteentsorgung <br />
                Presse <br />
                Jobs <br />
                Freunde
            </p>
        </div>
        <div>
            <p>Business</p>
            <ul>
                <li>Händler</li>
                <li>Dienstleister</li>
                <li>Shopanmeldung</li>
                <li>Affiliate Partner Programm</li>
                <li>Hardware Hub Partner Magazin</li>
            </ul>
        </div>
        <div>
            <p>Folge uns</p>
        </div>
        <div>
            <p>Kundenservice</p>
        </div>
    </div>
</div>