<div class="container py-5"> 
    <nav class="d-flex justify-content-between align-items-center">
        <div class="col-2 d-flex control">
            <div><button onclick="window.location.href='/';">
                    <img class="<%= action === 'start' ? 'd-block' : 'd-none' %>" src="/img/Hub_Logo.svg" alt="Logo" height="32px">
                    <img class="<%= action === 'start' ? 'd-none' : 'd-block' %>" src="/img/Hub_Logo_white.svg" alt="Logo" height="32px">
                </button></div>

            <div><button><i class="fa-solid fa-bars"></i></button></div>
        </div>
        <div class="col-5 justify-" id="search">
            <div class="d-flex align-items-center justify-content-between">
                <input type="search" name="search" id="search_input" placeholder="Search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <hr>
        </div>
        <div class="col-2 control d-flex align-items-center justify-content-end">
            <div><button><i class="fa-solid fa-heart"></i></button></div>
            <div><button><i class="fa-solid fa-bell"></i></button></div>
            <div><button onclick="window.location.href='/cart';"><i class="fa-solid fa-bag-shopping"></i></button></div>
        </div>
    </nav>
</div>